@charset "UTF-8";

/*
    Paleta de cores
    verde: #49a09d
    lilas: #5f2c82
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;

}

section#login > div#image {
    display: block;
    background: url(../images/pexels-mccutcheon-1566909.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    display: block;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

section#login > div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

section#login > div#form > p {
font-size: 0.8em;
}

/* #username {
    padding-top: 20px;
} */

/* #butlo {
    margin-bottom: 10px;
    margin-top: 20px;
    color: red;
    background-color: blueviolet;
    display: block;
    margin: auto;
} */

form > div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo i {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #72eeea;
    font-size: 1em;
    height: 100%;
    border-radius: 8px;
    padding: 4px;
    border: 0px;
    width: calc(100% - 44.5px);

    transform: translateY(-14px);
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit]:hover {
    background-color: #326d6b;
    cursor: pointer;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 8px;
    color: #49a09d;
    background-color: white;
    border: 2px solid #49a09d;
    border-radius: 5px;
    margin-top: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #326d6b;
    color: white;
    cursor: pointer;
    border: none;
}

form > a.botao > i {
    font-size: 1em;
}